Repository hyperledger-identus/sdk-kmp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yshyn-iohk, @elribonazo, @hamada147, @cristianIOHK, @amagyar-iohk, @todorkoleviohk, @petevielhaber

.github/CODEOWNERS:

@goncalo-frade-iohk @yshyn-iohk @elribonazo @hamada147 @cristianIOHK 

# Test related:
/sampleapp/ @amagyar-iohk @todorkoleviohk @hamada147 @cristianIOHK
/tests/ @amagyar-iohk @todorkoleviohk @hamada147 @cristianIOHK

# Docs:
*.md @petevielhaber

chore(release): cut wallet sdk version 4.0.0-rc.7 # [4.0.0-rc.7](https://github.com/hyperledger-identus/sdk-kmp/compare/v4.0.0-rc.6...v4.0.0-rc.7) (2025-03-12)
  CHANGELOG.md
  gradle.properties
Owners: @petevielhaber

Notes added by 'git notes add'
  7102cebc51358284ea4a5c79622a598feea6a4f4
Owners: none

docs: change links to the new repository url
  .releaserc.yml
  CHANGELOG.md
  CONTRIBUTING.md
  DCO.md
  README.md
  SECURITY.md
  edge-agent-sdk/build.gradle.kts
  package.json
  settings.gradle.kts
Owners: @petevielhaber

fix: add missing schema_ids field to the CredentialPreview
  edge-agent-sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/edgeagent/protocols/issueCredential/CredentialPreview.kt
Owners: none

docs: rename links and names in the build file
  edge-agent-sdk/build.gradle.kts
  settings.gradle.kts
Owners: none

test: change the agent and the mediator URL in e2e tests
  .github/workflows/e2e-tests.yml
Owners: none

fix: OSSRH_PASSWORD in the workflow
  .github/workflows/release.yml
Owners: none

fix: documentation workflow
  .github/workflows/release-documentation.yml
Owners: none

fix: other environment variable mapping
  .github/workflows/release.yml
  build.gradle.kts
  sdk/build.gradle.kts
Owners: none

fix: cleanup and set environment variables in build-and-test.yml
  .github/workflows/build-and-test.yml
  .github/workflows/release-documentation.yml
  .github/workflows/release.yml
  sdk/build.gradle.kts
Owners: none

fix: setup-action cleanup in the release workflow
  .github/workflows/release.yml
Owners: none

fix: remove gpg init from the setup java action
  .github/workflows/build-and-test.yml
  .github/workflows/release.yml
Owners: none

deps: upgrade github actions (megalinter hint)
  .github/workflows/build-and-test.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/release-documentation.yml
  .github/workflows/release.yml
Owners: none

Update release workflow for npm and Node.js
  .github/workflows/release.yml
Owners: none

Log npm version and run npm audit
  .github/workflows/release.yml
Owners: none

chore: Remove NPM_TOKEN from build-and-test workflow
  .github/workflows/build-and-test.yml
Owners: none

build: update gradle and ci workflows
  .github/workflows/build-and-test.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  build.gradle.kts
  gradle.properties
  gradle/libs.versions.toml
  protosLib/build.gradle.kts
  sampleapp/build.gradle.kts
  sdk/build.gradle.kts
  settings.gradle.kts
Owners: @amagyar-iohk, @todorkoleviohk, @hamada147, @cristianIOHK

build: update gradle and ci workflows (#229)
  .github/workflows/build-and-test.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  build.gradle.kts
  gradle.properties
  gradle/libs.versions.toml
  protosLib/build.gradle.kts
  sampleapp/build.gradle.kts
  sdk/build.gradle.kts
  settings.gradle.kts
Owners: @amagyar-iohk, @todorkoleviohk, @hamada147, @cristianIOHK

feat(pollux): sdjwt support
  sampleapp/build.gradle.kts
  sampleapp/src/main/java/org/hyperledger/identus/walletsdk/sampleapp/Sdk.kt
  sampleapp/src/main/java/org/hyperledger/identus/walletsdk/sampleapp/ui/credentials/CredentialsAdapter.kt
  sampleapp/src/main/java/org/hyperledger/identus/walletsdk/sampleapp/ui/messages/MessagesViewModel.kt
  sampleapp/src/main/res/values/strings.xml
  sampleapp/src/main/res/xml/network_security_config.xml
  sdk/build.gradle.kts
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/apollo/ApolloImpl.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/apollo/utils/Ed25519PrivateKey.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/apollo/utils/Secp256k1PublicKey.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/castor/CastorImpl.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/castor/did/prismdid/PrismDIDPublicKey.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/castor/shared/CastorShared.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/domain/buildingblocks/Castor.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/domain/buildingblocks/Pollux.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/domain/models/KeyPurpose.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/edgeagent/EdgeAgent.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/mercury/MercuryImpl.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/pollux/PolluxImpl.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/pollux/models/PresentationSubmission.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/pollux/models/SDJWTCredential.kt
  sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/apollo/utils/Secp256k1PublicKeyTest.kt
  sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/castor/DIDParserTest.kt
  sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/edgeagent/EdgeAgentTests.kt
  sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/edgeagent/PolluxMock.kt
Owners: @amagyar-iohk, @todorkoleviohk, @hamada147, @cristianIOHK

feat(pollux): sdjwt support
  sampleapp/build.gradle.kts
  sampleapp/src/main/java/org/hyperledger/identus/walletsdk/sampleapp/Sdk.kt
  sampleapp/src/main/java/org/hyperledger/identus/walletsdk/sampleapp/ui/credentials/CredentialsAdapter.kt
  sampleapp/src/main/java/org/hyperledger/identus/walletsdk/sampleapp/ui/messages/MessagesViewModel.kt
  sampleapp/src/main/res/values/strings.xml
  sampleapp/src/main/res/xml/network_security_config.xml
  sdk/build.gradle.kts
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/apollo/ApolloImpl.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/apollo/utils/Ed25519PrivateKey.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/apollo/utils/Secp256k1PublicKey.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/castor/CastorImpl.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/castor/did/prismdid/PrismDIDPublicKey.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/castor/shared/CastorShared.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/domain/buildingblocks/Castor.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/domain/buildingblocks/Pollux.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/domain/models/KeyPurpose.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/edgeagent/EdgeAgent.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/mercury/MercuryImpl.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/pollux/PolluxImpl.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/pollux/models/PresentationSubmission.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/pollux/models/SDJWTCredential.kt
  sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/apollo/utils/Secp256k1PublicKeyTest.kt
  sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/castor/DIDCreateTest.kt
  sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/castor/DIDParserTest.kt
  sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/edgeagent/CastorMock.kt
  sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/edgeagent/EdgeAgentTests.kt
  sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/edgeagent/PolluxMock.kt
  sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/mercury/CastorMock.kt
  sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/pollux/CastorMock.kt
  sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/pollux/PolluxImplTest.kt
Owners: @amagyar-iohk, @todorkoleviohk, @hamada147, @cristianIOHK

feat: sdjwt support (#230)
  sampleapp/build.gradle.kts
  sampleapp/src/main/java/org/hyperledger/identus/walletsdk/sampleapp/Sdk.kt
  sampleapp/src/main/java/org/hyperledger/identus/walletsdk/sampleapp/ui/credentials/CredentialsAdapter.kt
  sampleapp/src/main/java/org/hyperledger/identus/walletsdk/sampleapp/ui/messages/MessagesViewModel.kt
  sampleapp/src/main/res/values/strings.xml
  sampleapp/src/main/res/xml/network_security_config.xml
  sdk/build.gradle.kts
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/apollo/ApolloImpl.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/apollo/utils/Ed25519PrivateKey.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/apollo/utils/Secp256k1PublicKey.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/castor/CastorImpl.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/castor/did/prismdid/PrismDIDPublicKey.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/castor/shared/CastorShared.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/domain/buildingblocks/Castor.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/domain/buildingblocks/Pollux.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/domain/models/KeyPurpose.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/edgeagent/EdgeAgent.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/mercury/MercuryImpl.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/pollux/PolluxImpl.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/pollux/models/PresentationSubmission.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/pollux/models/SDJWTCredential.kt
  sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/apollo/utils/Secp256k1PublicKeyTest.kt
  sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/castor/DIDCreateTest.kt
  sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/castor/DIDParserTest.kt
  sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/edgeagent/CastorMock.kt
  sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/edgeagent/EdgeAgentTests.kt
  sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/edgeagent/PolluxMock.kt
  sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/mercury/CastorMock.kt
  sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/pollux/CastorMock.kt
  sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/pollux/PolluxImplTest.kt
Owners: @amagyar-iohk, @todorkoleviohk, @hamada147, @cristianIOHK

chore: add sonar and openssf badges
  README.md
Owners: @petevielhaber

chore: add identus logo
  README.md
Owners: @petevielhaber

chore: add release and discord badges
  README.md
Owners: @petevielhaber

ci: add Scorecard workflow for supply-chain security analysis
  .github/workflows/scorecard.yml
Owners: none

chore: add scorecard badge
  README.md
Owners: @petevielhaber

chore: add sonar and openssf badges (#233)
  README.md
Owners: @petevielhaber

ci: add Scorecard workflow for supply-chain security analysis (#234)
  .github/workflows/scorecard.yml
Owners: none

test: updates e2e test architecture
  tests/end-to-end/.editorconfig
  tests/end-to-end/README.md
  tests/end-to-end/build.gradle.kts
  tests/end-to-end/gradle/wrapper/gradle-wrapper.properties
  tests/end-to-end/settings.gradle.kts
  tests/end-to-end/src/test/kotlin/org/hyperledger/identus/walletsdk/abilities/UseWalletSdk.kt
  tests/end-to-end/src/test/kotlin/org/hyperledger/identus/walletsdk/configuration/Environment.kt
  tests/end-to-end/src/test/kotlin/org/hyperledger/identus/walletsdk/configuration/HooksSetup.kt
  tests/end-to-end/src/test/kotlin/org/hyperledger/identus/walletsdk/models/AnoncredSchema.kt
  tests/end-to-end/src/test/kotlin/org/hyperledger/identus/walletsdk/models/JwtSchema.kt
  tests/end-to-end/src/test/kotlin/org/hyperledger/identus/walletsdk/models/JwtSchemaProperty.kt
  tests/end-to-end/src/test/kotlin/org/hyperledger/identus/walletsdk/steps/CloudAgentSteps.kt
  tests/end-to-end/src/test/kotlin/org/hyperledger/identus/walletsdk/steps/EdgeAgentSteps.kt
  tests/end-to-end/src/test/kotlin/org/hyperledger/identus/walletsdk/utils/Notes.kt
  tests/end-to-end/src/test/kotlin/org/hyperledger/identus/walletsdk/workflow/CloudAgentWorkflow.kt
  tests/end-to-end/src/test/kotlin/org/hyperledger/identus/walletsdk/workflow/EdgeAgentWorkflow.kt
  tests/end-to-end/src/test/resources/example.properties
  tests/end-to-end/src/test/resources/features/backup.feature
  tests/end-to-end/src/test/resources/features/backup/Backup.feature
  tests/end-to-end/src/test/resources/features/connectionless_proof_jwt.feature
  tests/end-to-end/src/test/resources/features/connectionless_receive_jwt.feature
  tests/end-to-end/src/test/resources/features/create_connection.feature
  tests/end-to-end/src/test/resources/features/credential/anoncred/PresentProof.feature
  tests/end-to-end/src/test/resources/features/credential/anoncred/Receive.feature
  tests/end-to-end/src/test/resources/features/credential/anoncred/Verify.feature
  tests/end-to-end/src/test/resources/features/credential/jwt/PresentProof.feature
  tests/end-to-end/src/test/resources/features/credential/jwt/Receive.feature
  tests/end-to-end/src/test/resources/features/credential/jwt/Revoke.feature
  tests/end-to-end/src/test/resources/features/credential/jwt/Verify.feature
  tests/end-to-end/src/test/resources/features/provide_anoncred_proof.feature
  tests/end-to-end/src/test/resources/features/provide_jwt_proof.feature
  tests/end-to-end/src/test/resources/features/provide_sdjwt_proof.feature
  tests/end-to-end/src/test/resources/features/readme.md
  tests/end-to-end/src/test/resources/features/receive_anoncred_credential.feature
  tests/end-to-end/src/test/resources/features/receive_jwt_credential.feature
  tests/end-to-end/src/test/resources/features/receive_sdjwt_credential.feature
  tests/end-to-end/src/test/resources/features/revoke_jwt_credential.feature
  tests/end-to-end/src/test/resources/features/verify_anoncred_credential.feature
  tests/end-to-end/src/test/resources/features/verify_jwt_credential.feature
  tests/end-to-end/src/test/resources/features/verify_sdjwt_credential.feature
Owners: @amagyar-iohk, @todorkoleviohk, @hamada147, @cristianIOHK, @petevielhaber

fix: backup, proof and verification
  build.gradle.kts
  package-lock.json
  sdk/build.gradle.kts
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/castor/resolvers/PrismDIDApiResolver.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/domain/models/JWTCredentialPayload.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/edgeagent/ConnectionManager.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/edgeagent/EdgeAgent.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/edgeagent/protocols/proofOfPresentation/JWTPresentationOptions.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/pluto/CredentialRecovery.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/pluto/PlutoBackupTask.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/pluto/PlutoImpl.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/pluto/PlutoRestoreTask.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/pollux/PolluxImpl.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/pollux/models/AnonCredential.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/pollux/models/PresentationDefinitionRequest.kt
  sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/castor/PrismDIDApiResolverTest.kt
  sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/edgeagent/ApolloMock.kt
  sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/edgeagent/CastorMock.kt
  sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/edgeagent/EdgeAgentTests.kt
  sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/edgeagent/mediation/BasicMediatorHandlerTest.kt
  sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/edgeagent/protocols/connection/ConnectionAcceptTest.kt
  sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/edgeagent/protocols/connection/ConnectionRequestTest.kt
  sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/edgeagent/protocols/mediation/MediationGrantTest.kt
  sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/edgeagent/protocols/mediation/MediationKeysUpdateListTest.kt
  sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/edgeagent/protocols/mediation/MediationRequestTest.kt
  sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/edgeagent/protocols/proofOfPresentation/PresentationOptionsTest.kt
  sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/edgeagent/protocols/proofOfPresentation/PresentationSubmissionOptionsTest.kt
  sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/edgeagent/protocols/proofOfPresentation/PresentationTest.kt
  sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/edgeagent/protocols/proofOfPresentation/ProofTest.kt
  sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/edgeagent/protocols/proofOfPresentation/ProofTypesTest.kt
  sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/edgeagent/protocols/proofOfPresentation/ProposePresentationTest.kt
  sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/edgeagent/protocols/proofOfPresentation/RequestPresentationTest.kt
  sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/pluto/BackupRestorationTests.kt
  sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/pollux/PolluxImplTest.kt
Owners: none

fix: sample app fully working
  sampleapp/src/main/java/org/hyperledger/identus/walletsdk/sampleapp/Sdk.kt
  sampleapp/src/main/java/org/hyperledger/identus/walletsdk/sampleapp/db/AppDatabase.kt
  sampleapp/src/main/java/org/hyperledger/identus/walletsdk/sampleapp/db/DatabaseClient.kt
  sampleapp/src/main/java/org/hyperledger/identus/walletsdk/sampleapp/db/PendingProofRequest.kt
  sampleapp/src/main/java/org/hyperledger/identus/walletsdk/sampleapp/db/ProofRequestDao.kt
  sampleapp/src/main/java/org/hyperledger/identus/walletsdk/sampleapp/ui/agent/AgentFragment.kt
  sampleapp/src/main/java/org/hyperledger/identus/walletsdk/sampleapp/ui/agent/AgentViewModel.kt
  sampleapp/src/main/java/org/hyperledger/identus/walletsdk/sampleapp/ui/main/MainActivity.kt
  sampleapp/src/main/java/org/hyperledger/identus/walletsdk/sampleapp/ui/main/SectionsPagerAdapter.kt
  sampleapp/src/main/java/org/hyperledger/identus/walletsdk/sampleapp/ui/messages/CustomArrayAdapter.kt
  sampleapp/src/main/java/org/hyperledger/identus/walletsdk/sampleapp/ui/messages/MessagesFragment.kt
  sampleapp/src/main/java/org/hyperledger/identus/walletsdk/sampleapp/ui/messages/MessagesViewModel.kt
  sampleapp/src/main/java/org/hyperledger/identus/walletsdk/sampleapp/ui/proofrequests/ProofRequestsAdapter.kt
  sampleapp/src/main/java/org/hyperledger/identus/walletsdk/sampleapp/ui/proofrequests/ProofRequestsFragment.kt
  sampleapp/src/main/res/layout/fragment_proof_requests.xml
  sampleapp/src/main/res/layout/item_proof_request.xml
  sampleapp/src/main/res/values/strings.xml
  sampleapp/src/main/res/xml/network_security_config.xml
Owners: @amagyar-iohk, @todorkoleviohk, @hamada147, @cristianIOHK

test: updates sdjwt key
  tests/end-to-end/README.md
  tests/end-to-end/settings.gradle.kts
  tests/end-to-end/src/test/kotlin/org/hyperledger/identus/walletsdk/workflow/EdgeAgentWorkflow.kt
Owners: @petevielhaber, @amagyar-iohk, @todorkoleviohk, @hamada147, @cristianIOHK

fix: attachment serializer to data
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/domain/models/MessageAttachment.kt
  sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/pluto/BackupRestorationTests.kt
Owners: none

chore: fixes warnings and typo
  sampleapp/src/main/java/org/hyperledger/identus/walletsdk/sampleapp/Sdk.kt
  sampleapp/src/main/java/org/hyperledger/identus/walletsdk/sampleapp/ui/credentials/CredentialsAdapter.kt
  sdk/build.gradle.kts
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/castor/shared/CastorShared.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/domain/models/MessageAttachment.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/domain/models/VerifiableCredential.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/edgeagent/helpers/AttachmentDescriptorBuild.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/edgeagent/protocols/ProtocolType.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/edgeagent/protocols/issueCredential/IssueCredential.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/edgeagent/protocols/issueCredential/OfferCredential.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/edgeagent/protocols/issueCredential/ProposeCredential.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/edgeagent/protocols/issueCredential/RequestCredential.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/pluto/models/backup/BackupV0_0_1.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/pollux/PolluxImpl.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/pollux/models/CredentialRequest.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/pollux/models/SDJWTCredential.kt
  tests/end-to-end/src/test/kotlin/org/hyperledger/identus/walletsdk/workflow/EdgeAgentWorkflow.kt
  tests/end-to-end/src/test/resources/features/backup.feature
Owners: @amagyar-iohk, @todorkoleviohk, @hamada147, @cristianIOHK

fix: add disclosing claims to sdk-kmp
  sdk/build.gradle.kts
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/edgeagent/EdgeAgent.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/edgeagent/EdgeAgentError.kt
  sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/pollux/models/SDJWTCredential.kt
Owners: none

chore: remove package-lock.json
  package-lock.json
Owners: none

chore: ktlint
  sampleapp/src/main/java/org/hyperledger/identus/walletsdk/sampleapp/Sdk.kt
  sampleapp/src/main/java/org/hyperledger/identus/walletsdk/sampleapp/ui/main/MainActivity.kt
  sampleapp/src/main/java/org/hyperledger/identus/walletsdk/sampleapp/ui/main/SectionsPagerAdapter.kt
  sampleapp/src/main/java/org/hyperledger/identus/walletsdk/sampleapp/ui/messages/MessagesFragment.kt
  sampleapp/src/main/java/org/hyperledger/identus/walletsdk/sampleapp/ui/proofrequests/ProofRequestsFragment.kt
Owners: @amagyar-iohk, @todorkoleviohk, @hamada147, @cristianIOHK
