Repository hyperledger-identus/sdk-kmp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yshyn-iohk, @elribonazo, @hamada147, @cristianIOHK, @amagyar-iohk, @todorkoleviohk, @petevielhaber

.github/CODEOWNERS:

@goncalo-frade-iohk @yshyn-iohk @elribonazo @hamada147 @cristianIOHK 

# Test related:
/sampleapp/ @amagyar-iohk @todorkoleviohk @hamada147 @cristianIOHK
/tests/ @amagyar-iohk @todorkoleviohk @hamada147 @cristianIOHK

# Docs:
*.md @petevielhaber

fix: anoncred verification and breaking changes missing (#196)
  README.md
  edge-agent-sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/edgeagent/EdgeAgent.kt
  edge-agent-sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/edgeagent/mediation/BasicMediatorHandler.kt
  edge-agent-sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/edgeagent/protocols/pickup/PickupRunner.kt
  edge-agent-sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/pollux/models/AnonCredential.kt
Owners: @petevielhaber

chore(release): cut wallet sdk version 3.1.0 # [3.1.0](https://github.com/hyperledger/identus-edge-agent-sdk-kmp/compare/v3.0.1...v3.1.0) (2024-09-12)
  CHANGELOG.md
  gradle.properties
Owners: @petevielhaber

fix: release 4.0 (#201)
  build.gradle.kts
  gradle.properties
Owners: none

chore(release): cut wallet sdk version 3.1.1 ## [3.1.1](https://github.com/hyperledger/identus-edge-agent-sdk-kmp/compare/v3.1.0...v3.1.1) (2024-09-12)
  CHANGELOG.md
  gradle.properties
Owners: @petevielhaber

fix: release 4.0 (#202)
  .github/workflows/release.yml
  build.gradle.kts
Owners: none

chore(release): cut wallet sdk version 3.1.2 ## [3.1.2](https://github.com/hyperledger/identus-edge-agent-sdk-kmp/compare/v3.1.1...v3.1.2) (2024-09-12)
  CHANGELOG.md
  gradle.properties
Owners: @petevielhaber

fix: Edge Agent should not be calling Apollo classes directly but Apollo instead fix: code improvements to allow passing additional authentication keys to Castor.createPrismDID
  edge-agent-sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/castor/CastorImpl.kt
  edge-agent-sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/castor/shared/CastorShared.kt
  edge-agent-sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/domain/buildingblocks/Castor.kt
  edge-agent-sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/edgeagent/EdgeAgent.kt
  edge-agent-sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/castor/PrismDIDPublicKeyTests.kt
  edge-agent-sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/edgeagent/CastorMock.kt
  edge-agent-sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/edgeagent/EdgeAgentTests.kt
  edge-agent-sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/mercury/CastorMock.kt
  edge-agent-sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/pollux/CastorMock.kt
  edge-agent-sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/pollux/PolluxImplTest.kt
  sampleapp/src/main/java/org/hyperledger/identus/walletsdk/sampleapp/ui/dids/DIDsViewModel.kt
Owners: @amagyar-iohk, @todorkoleviohk, @hamada147, @cristianIOHK

fix: fix tests
  edge-agent-sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/apollo/ApolloImpl.kt
  edge-agent-sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/castor/CastorImpl.kt
  edge-agent-sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/castor/did/prismdid/PrismDIDPublicKey.kt
  edge-agent-sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/edgeagent/EdgeAgent.kt
  edge-agent-sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/edgeagent/ApolloMock.kt
  edge-agent-sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/edgeagent/EdgeAgentTests.kt
Owners: none

fix: improve pollux impl code
  edge-agent-sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/pollux/PolluxImpl.kt
Owners: none

fix: linting issues
  edge-agent-sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/apollo/utils/Ed25519PrivateKey.kt
  edge-agent-sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/castor/did/prismdid/PrismDIDPublicKey.kt
  edge-agent-sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/castor/shared/CastorShared.kt
  edge-agent-sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/edgeagent/EdgeAgent.kt
  edge-agent-sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/pollux/PolluxImpl.kt
  edge-agent-sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/edgeagent/ApolloMock.kt
Owners: none

fix: improvements for ed25519 sdjwt signatures
  edge-agent-sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/pollux/PolluxImpl.kt
Owners: none

chore: update coverage badge
  README.md
Owners: @petevielhaber

fix: bug reported in issue 216
  edge-agent-sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/edgeagent/protocols/issueCredential/CredentialPreview.kt
Owners: none

fix: add tests for sdjwt
  edge-agent-sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/pollux/PolluxImpl.kt
  edge-agent-sdk/src/commonTest/kotlin/org/hyperledger/identus/walletsdk/pollux/PolluxImplTest.kt
Owners: none

docs: change links to the new repository url
  CHANGELOG.md
  CONTRIBUTING.md
  DCO.md
  README.md
  SECURITY.md
  package.json
Owners: @petevielhaber

chore: rename root packages and add `beta` branch to release config
  .releaserc.yml
  edge-agent-sdk/build.gradle.kts
  settings.gradle.kts
Owners: none

test: change the agent and the mediator URL in e2e tests
  .github/workflows/e2e-tests.yml
Owners: none

chore(release): cut wallet sdk version 4.0.0-rc.1 # [4.0.0-rc.1](https://github.com/hyperledger-identus/sdk-kmp/compare/v3.0.1...v4.0.0-rc.1) (2025-03-10)
  CHANGELOG.md
  gradle.properties
Owners: @petevielhaber

Notes added by 'git notes add'
  4d43e92fff17b01609a008b0d931aaf00f67e61e
Owners: none

fix: add missing schema_ids field to the CredentialPreview
  edge-agent-sdk/src/commonMain/kotlin/org/hyperledger/identus/walletsdk/edgeagent/protocols/issueCredential/CredentialPreview.kt
Owners: none

chore: add debug to the semantic-release plugin
  .github/workflows/release.yml
Owners: none

chore(release): cut wallet sdk version 4.0.0-rc.2 # [4.0.0-rc.2](https://github.com/hyperledger-identus/sdk-kmp/compare/v4.0.0-rc.1...v4.0.0-rc.2) (2025-03-10)
  CHANGELOG.md
  gradle.properties
Owners: @petevielhaber

Notes added by 'git notes add'
  f4d67283c2ff5f145196b4142d7191e7845e362d
Owners: none

docs: rename links and names in the build file
  edge-agent-sdk/build.gradle.kts
  settings.gradle.kts
Owners: none

build: add debug to semantic release
  .github/workflows/release.yml
Owners: none

fix: commit to make a release
  .github/workflows/release.yml
Owners: none

chore(release): cut wallet sdk version 4.0.0-rc.3 # [4.0.0-rc.3](https://github.com/hyperledger-identus/sdk-kmp/compare/v4.0.0-rc.2...v4.0.0-rc.3) (2025-03-11)
  CHANGELOG.md
  gradle.properties
Owners: @petevielhaber

Notes added by 'git notes add'
  bfca3d35b9937286e21ca24a53f4138fa1372f0d
Owners: none

fix: OSSRH_PASSWORD in the workflow
  .github/workflows/release.yml
Owners: none

chore(release): cut wallet sdk version 4.0.0-rc.4 # [4.0.0-rc.4](https://github.com/hyperledger-identus/sdk-kmp/compare/v4.0.0-rc.3...v4.0.0-rc.4) (2025-03-11)
  CHANGELOG.md
  gradle.properties
Owners: @petevielhaber

Notes added by 'git notes add'
  f26b7d17c727b0ca33d7f6dfe4044edadf1633af
Owners: none

fix: other environment variable mapping
  .github/workflows/release.yml
  build.gradle.kts
  sdk/build.gradle.kts
Owners: none

chore(release): cut wallet sdk version 4.0.0-rc.5 # [4.0.0-rc.5](https://github.com/hyperledger-identus/sdk-kmp/compare/v4.0.0-rc.4...v4.0.0-rc.5) (2025-03-12)
  CHANGELOG.md
  gradle.properties
Owners: @petevielhaber

Notes added by 'git notes add'
  06768067018967c17abd998f72bdc138954a3183
Owners: none

fix: cleanup and set environment variables in build-and-test.yml
  .github/workflows/build-and-test.yml
  .github/workflows/release-documentation.yml
  .github/workflows/release.yml
  sdk/build.gradle.kts
Owners: none

fix: setup-action cleanup in the release workflow
  .github/workflows/release.yml
Owners: none

fix: documentation workflow
  .github/workflows/release-documentation.yml
Owners: none

chore(release): cut wallet sdk version 4.0.0-rc.6 # [4.0.0-rc.6](https://github.com/hyperledger-identus/sdk-kmp/compare/v4.0.0-rc.5...v4.0.0-rc.6) (2025-03-12)
  CHANGELOG.md
  gradle.properties
Owners: @petevielhaber

Notes added by 'git notes add'
  a9f408571ec80c0d7a44edbd163444d3560bb040
Owners: none

fix: remove gpg init from the setup java action
  .github/workflows/build-and-test.yml
  .github/workflows/release.yml
Owners: none
